<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Solver</title>
    <link rel="stylesheet" href="{% static 'simplex/css/main.css' %}">
</head>

<body>
    <header>
        <h1>Linear Programming Solver</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Linear Solver</p>
    </footer>

    <script src="{% static 'simplex/js/main.js' %}"></script>
</body>

</html>